* {
  box-sizing: border-box;
}

nav {
  width: 1000px;
  height: 170px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

nav p {
  font-size: 40px;
  text-align: center;
  height: 100px;
  line-height: 100px;
  padding-top: 20px;
}

nav li {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

nav li span {
  display: inline-block;
  font-size: 16px;
  width: 165px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-bottom: 4px solid #f8572b;
  color: #f8572b;
}

section {
  background-color: #f7f7f7;
  width: 100%;
}

section .area {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 25px;
}

section .area article {
  width: 700px;
  float: left;
}

section .area article li {
  position: relative;
}

section .area article li img {
  width: 700px;
  border-radius: 5px;
}

section .area article li .bgup {
  width: 700px;
  height: 120px;
  position: absolute;
  bottom: 52px;
  left: 0px;
  background-color: white;
  opacity: 0.7;
  z-index: 10;
  font-size: 15px;
  padding: 27px 0px 0px 20px;
}

section .area article li .user {
  width: 670px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  bottom: 75px;
  left: 20px;
  z-index: 20;
  opacity: 1;
  overflow: hidden;
  font-size: 13px;
}

section .area article li .user img {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  margin: 0px 10px -8px 0px;
}

section .area article li .user span {
  color: #e64e4e;
}

section .area article li .user p {
  float: right;
  margin-right: 40px;
}

section .area article li .more {
  display: block;
  width: 700px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid #bdbaba;
  margin: 12px 0px;
  color: #99989d;
}
