section{
    width: 1000px;
    margin: 50px auto;
    overflow: hidden;
    box-sizing: border-box;
    aside{
        float: left;
        width: 270px;
        height: 320px;
        background-color: #f3f3f3;
        padding: 20px;
        box-sizing: border-box;
        .title_font{
            color: #3d3a2b;
            font-size: 20px;
            border-bottom: 2px solid #a3a3a3;
            padding: 10px 20px;
            font-weight:bold;
        }
        .er_font{
            color: #212222;
            font-size: 17px;
            margin: 20px 0px 10px 20px;
        }
        span{
            display: block;
            margin-left: 30px;
            line-height: 20px;
            font-size: 14px;
            color: #5a5559;
            line-height: 25px;
        }
    }
    article{
        
        width: 700px;
        height: 1000px;
        float: right;
        background-color: #f3f3f3;
        padding: 20px;
        box-sizing: border-box;
        .title_font{
            color: #3d3a2b;
            font-size: 20px;
            border-bottom: 2px solid #a3a3a3;
            padding: 10px 20px;
            font-weight:600
        }
        li{  
            margin-bottom: 20px;
            span{
                display: block;
                color: #212222;
                font-size: 16px;
                margin: 15px 0px 10px 20px;
                font-weight:500;
                margin: 30px 20px;
            }
            p{
                font-size: 15px;
                line-height: 27px;
                margin-left: 20px;
                color: #3d3a2b;
            }
           
        }
        li:nth-child(3),li:nth-child(4){
            margin-top: 60px;
        }
    }
    //隐藏部分 团队与协作
    .team{
        display: none;
        width: 700px;
        height: 2370px;
        float: right;
        background-color: #f3f3f3;
        padding: 20px;
        box-sizing: border-box;
        .title_font{
            color: #3d3a2b;
            font-size: 20px;
            border-bottom: 2px solid #a3a3a3;
            padding: 10px 20px;
            font-weight:600;
        }
        li{
            span{
                
                    display: block;
                    color: #212222;
                    font-size: 18px;
                    margin: 15px 0px 10px 20px;
                    font-weight:500;
                    margin: 20px 20px;
            }
            p{
                font-size: 14px;
                line-height: 30px;
                margin-left: 20px;
                color: #3d3a2b;
            }
        }
        li:nth-child(n+4){
            margin-top: 30px;
            span{
                font-weight: 600;
                color: black;
            }
            p{
                line-height: 30px;
            }
        }
    }
}